html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
body h1 {
  font-size: 42px;
  font-weight: 300;
}
.nopadding {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.clear {
  clear: both;
}
.header {
  height: 55px;
  width: 100%;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #000;
  z-index: 999;
}
.header .logo {
  margin: 5px 20px;
  display: inline-block;
}
.header .logo .logo-image {
  background-image: url(../img/logo.png);
  background-size: cover;
  width: 282px;
  height: 46px;
  display: block;
}
.header .nav {
  display: inline-block;
  float: right;
  margin: 0px 10px;
}
.header .nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.header .nav ul li {
  float: left;
}
.header .nav ul li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.header .nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.containerBox {
  position: absolute;
  width: 100%;
  height: 100%;
}
.containerBox .overlay {
  position: absolute;
  width: 100%;
}
.containerBox .overlay .maskBox {
  width: 75%;
  margin: 200px auto 20px;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 15px;
  color: #fff;
  border: 2px solid #fff;
}
.containerBox .overlay a {
  transition: all 0.3s;
  width: 40%;
  margin: 15px auto 0px;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 15px;
  color: #fff;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
}
.containerBox .overlay a:hover {
  background-color: rgba(255, 255, 255, 0.45);
  color: #000;
}
.containerBox .content {
  min-height: 250px;
  margin: 35px 20px;
}
.containerBox .content .column-left,
.containerBox .content .column-right {
  float: left;
  max-width: 46%;
  width: 100%;
}
.containerBox .content .column-left h2,
.containerBox .content .column-right h2 {
  font-weight: 300;
}
.containerBox .content .column-right {
  margin: 0px 10px;
}
.containerBox .content .column-right ul li {
  list-style: none;
  cursor: pointer;
}
.containerBox .content .column-right ul li span {
  display: block;
  height: 10px;
  background-color: #bdbdbd;
  border-radius: 10px;
  transition: all 0.3s;
  margin: 8px 0px;
}
.containerBox .content .column-right ul li span.p60 {
  width: 60%;
}
.containerBox .content .column-right ul li span.p70 {
  width: 70%;
}
.containerBox .content .column-right ul li span.p75 {
  width: 75%;
}
.containerBox .content .column-right ul li span.p90 {
  width: 90%;
}
.containerBox .content .column-right ul li span.p10 {
  width: 10%;
}
.containerBox .content .column-right ul li:hover .blue {
  background-color: #4fc3f7;
}
.containerBox .content .column-right ul li:hover .orange {
  background-color: #ff9800;
}
.containerBox .content .column-right ul li:hover .yellow {
  background-color: #fdd835;
}
.containerBox .content .column-right ul li:hover .red {
  background-color: #FF0000;
}
.containerBox .content .column-left {
  margin: 0px 10px;
}
.containerBox .content .column-left .note-icon {
  float: right;
  margin: 25px 50px;
}
.containerBox .content .column-left .folder-icon {
  float: left;
  margin: 25px 50px;
}
.containerBox .content .column-left .time-icon {
  float: left;
  margin: 25px 50px;
}
.containerBox .content .icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
}
.containerBox .content .icon.me-icon {
  background-image: url("../img/icon_photo.png");
}
.containerBox .content .icon.note-icon {
  background-image: url("../img/icon_note.png");
}
.containerBox .content .icon.folder-icon {
  background-image: url("../img/icon_folder.png");
}
.containerBox .content .icon.time-icon {
  background-image: url("../img/icon_time.png");
}
.containerBox .paralx {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.containerBox .paralx.p1 {
  background-image: url("../img/unmd.jpg");
}
.containerBox .paralx.p2 {
  background-image: url("../img/dim1.jpg");
}
.footer {
  background: #505050;
  color: #fff;
  padding: 20px 80px;
}
.footer ul {
  display: inline-block;
}
.footer ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 10px;
}
.footer ul li a {
  color: #fff;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-sizer,
.grid-item {
  width: 33.333%;
}
.grid-item {
  float: left;
  border: 5px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
}
.grid-item.grid-item--width2 {
  width: 66.666%;
}
.grid-item img {
  display: block;
  max-width: 100%;
}
.grid-item .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 1s;
}
.grid-item:hover .mask {
  background-color: rgba(0, 0, 0, 0);
}
@media only screen and (max-width: 580px) {
  .container .content .column-left,
  .container .content .column-right {
    float: none;
    max-width: 100%;
  }
}
