html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.clear {
  clear: both;
}
.header {
  height: 55px;
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #000;
  z-index: 999;
}
.header .logo {
  margin: 5px 20px;
}
.header .logo .logo-image {
  background-image: url(../img/logo.png);
  background-size: cover;
  width: 110px;
  height: 46px;
  display: block;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container .overlay {
  position: absolute;
  width: 100%;
}
.container .overlay .maskBox {
  width: 60%;
  margin: 200px auto 20px;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 15px;
  color: #fff;
  border: 2px solid #fff;
}
.container .overlay a {
  transition: all 0.3s;
  width: 40%;
  margin: 15px auto 0px;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 15px;
  color: #fff;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
}
.container .overlay a:hover {
  background-color: rgba(255, 255, 255, 0.45);
  color: #000;
}
.container .content {
  min-height: 500px;
  margin: 0px 20px;
}
.container .content .column-left,
.container .content .column-right {
  float: left;
  max-width: 50%;
  width: 100%;
}
.container .content .column-right ul li {
  list-style: none;
}
.container .content .column-right ul li span {
  display: block;
  height: 10px;
  background-color: #bdbdbd;
  border-radius: 10px;
  transition: all 0.3s;
  margin: 8px 0px;
}
.container .content .column-right ul li span.p60 {
  width: 60%;
}
.container .content .column-right ul li span.p70 {
  width: 70%;
}
.container .content .column-right ul li span.p75 {
  width: 75%;
}
.container .content .column-right ul li span.p90 {
  width: 90%;
}
.container .content .column-right ul li:hover .blue {
  background-color: #4fc3f7;
}
.container .content .column-right ul li:hover .orange {
  background-color: #ff9800;
}
.container .content .column-right ul li:hover .yellow {
  background-color: #fdd835;
}
.container .paralx {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.container .paralx.p1 {
  background-image: url("../img/infection.jpg");
}
.container .paralx.p2 {
  background-image: url("../img/dim1.jpg");
}
