@font-face {
font-family: Fate_icons;
src: url(font/Fate_Core_Font.ttf);
}
@font-face {
font-family: Fate;
src: url(font/Ash.ttf);
}
h1,h2,h3,h4,h5,h6 {
	font-family: Fate;
}
body {
	background-color: #E8E8E8;
}
.img-box {
	width: auto;
	height: 75px;
	margin-top: 10px;
	background-image: url(../img/Powered-by-Fate-Final-Light-BG-300x117.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.window {
	background-color: #fff;
	border-left: 3px ridge #0a497a;
	border-right: 3px ridge #0a497a;
	border-bottom: 3px ridge #0a497a;
	padding-bottom: 20px;
}
.border-bottom {
	border-bottom: 3px ridge #0a497a;
}