@font-face {
font-family: Fate_icons;
src: url(font/Fate_Core_Font.ttf);
}
@font-face {
font-family: Fate;
src: url(font/Ash.ttf);
}
h1,h2,h3,h4,h5,h6 {
	font-family: Fate;
}
body {
	background-color: #E8E8E8;
}
.window {
	background-color: #fff;
}